//Keyframes

//mover la etiqueta
.mover {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: mover;
          animation-name: mover;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;

  @-webkit-keyframes mover {
      0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
      }
      100% {
          -webkit-transform: translateX(200px);
                  transform: translateX(200px);
      }
  }

  @keyframes mover {
      0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
      }
      100% {
          -webkit-transform: translateX(200px);
                  transform: translateX(200px);
      }
  }
}

//girar la tuerca
.girar {
  -webkit-animation: rotation 7s infinite linear;
          animation: rotation 7s infinite linear;
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  
  @-webkit-keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }
  
  @keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }
}