h5 {
    font-family: $ubuntu;
    font-weight: $ubuntu-bold !important;
    margin-left: 10px;
}

p {
    font-family: $ubuntu;
    font-weight: $ubuntu-regular;
    margin-left: 10px;
}

span {
    font-family: $ubuntu;
    font-weight: $ubuntu-regular;
}